[master]
k8s-master ansible_host=<master-ip> ## from multipass list

[nodes]
k8s-worker1 ansible_host=<worker1-ip> ## from multipass list
k8s-worker2 ansible_host=<worker2-ip> ## from multipass list

[all:vars]
ansible_user=ubuntu
ansible_ssh_private_key_file=~/.ssh/id_rsa
ansible_ssh_common_args='-o StrictHostKeyChecking=no'
